footer.footer
  if user
    if user.role === 'employee-dilivery'
      ul.footer__nav
        li: a(href='/order') CheckDelivery Shipment
        li: a(href='#') Get Check Delivery Orders
        li: a(href='#') Shipment Details
    else if user.role === 'sub-admin'
      ul.footer__nav
        li: a(href='/orders-pending') Get All Pending Orders
        li: a(href='#') Order Confirms
        li: a(href='#') Track Shipments
        li: a(href='#') Inventory Details
    else if user.role === 'admin'
      ul.footer__nav
        li: a(href='#') Details of Employee
        li: a(href='/order') Get All Employees
        li: a(href='#') Update Employee
        li: a(href='/hireAnEmployee') Hire An Employee
        li: a(href='#') Fire An Employee
        li: a(href='/order') Get All Pending Orders
        li: a(href='/order') Get All Pending Orders Not Confirmed
        li: a(href='/order') Add Products
        li: a(href='/order') Update Products
        li: a(href='/order') Delete Products
        li: a(href='#') Inventory Details
    else
      ul.footer__nav
        li: a(href='/order') My Orders
        li: a(href='/comments') My Comments
        li: a(href='#') Track Shipment
  p.footer__copyright &copy; by Manura Sanjula & Enosh Anupama.