footer.footer
  if user
    if user.role === 'employee-dilivery'
      ul.footer__nav
        li: a(href='/shipment/:shipment') CheckDelivery Shipment
        li: a(href='/inventory/cus-orders/:id') Get Check Delivery Orders
        li: a(href='/shipment') Shipment Details
        li: a(href='/inventory/cus-orders') Customer Orders
    else if user.role === 'sub-admin'
      ul.footer__nav
        li: a(href='/inventory/track-shipments') Track Shipments
        li: a(href='/inventory/home') Inventory Management
        li: a(href='/inventory/inventory-emp') Employee Management-All
        li: a(href='/inventory/inventory-cu') Customer Management
    else if user.role === 'admin'
      ul.footer__nav
        li: a(href='/inventory/inventory-emp') Employee Management-All
        li: a(href='/inventory/inventory-cu') Customer Management
        li: a(href='/annual') Annual Report
        li: a(href='/inventory/home') Inventory Management
    else if user.role === 'employee'
      ul.footer__nav
        li: a(href='/successful-payed') Accept Pick Up Orders
        li: a(href='/inventory/cus-orders') Customer Orders
        li: a(href='/inventory/home') Inventory Management
    else
      ul.footer__nav
        li: a(href='/order') My Orders
        li: a(href='/comments') My Comments
        li: a(href='#') Track Shipment
  p.footer__copyright &copy; by Manura Sanjula & Enosh Anupama.