header.header
  nav.nav.nav--tours
    a.nav__el(href='/') All Cloths
  .navigation
    input.navigation__checkbox(type='checkbox', id='navi-toggle')
    label.navigation__button(for='navi-toggle')
      span.navigation__icon &nbsp;
    .navigation__background &nbsp;
    nav.navigation__nav
      if user
        ul.navigation__list
          li.navigation__item
            a.navigation__link(href='/me') <span>01</span> Me
          li.navigation__item
            a.navigation__link(href='/order') <span>02</span>Orders
          li.navigation__item
            a.navigation__link(href='comments') <span>03</span>Reviews
      else 
        ul.navigation__list
          li.navigation__item
            a.navigation__link(href='#') <span>01</span>About Natous      
  
  //- nav.nav.nav--user
  //-   if user
  //-     a.nav__el.nav__el--logout Log out
  //-     a.nav__el(href='/me')
  //-       img.nav__user-img(src=`/image/${user.photo}` alt=`Photo of ${user.name}`)
  //-       span= user.name.split(' ')[0]
  //-   else
  //-     a.nav__el(href='/login') Log in
  //-     a.nav__el.nav__el--cta(href='/signup') Sign up