doctype html
html(lang="en")
    head
        title ClothStore | Chilaw Sri Lanka
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/style2.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
        style.
            button {
            background: white;
            }
            .male {
            border: 1px solid blue;
            }
            .female {
            border: 1px solid purple;
            }
            body {
            height: 100vh;
            }
            .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            }
    body
        include _header

        .container
            button#paynow(type="button", style="margin-right: 16px", class="btn btn-primary btn-lg btn-block") Proceed to pay
            button(type="button", class="btn btn-default btn-lg btn-block") Cancel

        include _footer
        script(src='https://js.stripe.com/v3/')
        script(src='/js/bundle.js')
